*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	position: relative;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.audio-player {
	position: fixed;
	bottom: -157px;
	left: 0;
	z-index: 11;
	width: 100%;
	min-height: 94px;
	font-size: 14px;
	line-height: 20px;
	background-color: rgba(236, 239, 244, 0.9);
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	visibility: hidden;
	cursor: default;
	opacity: 0;
	transition: all 0.3s ease;
	user-select: none;

	@keyframes loading-dots {
		0% {
			content: "    ";
		}

		20% {
			content: ".   ";
		}

		40% {
			content: "..  ";
		}

		60% {
			content: "... ";
		}

		100% {
			content: "....";
		}
	}

	.content__inner {
		padding: 40px 10px 10px;

		@media (min-width: 568px) {
			padding: 45px 15px 15px;
		}

		@media (min-width: 992px) {
			padding: 60px 40px 25px;
		}
	}

	&.iframe-mode {
		bottom: -160px;
	}

	&.show {
		bottom: 63px;
		visibility: visible;
		opacity: 1;

		@media (min-width: 700px) {
			bottom: 78px;
		}

		@media (min-width: 992px) {
			bottom: 0;
		}
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	&__nav-play-pause {
		position: relative;
		width: 40px;
		height: 40px;
		margin-right: 10px;
		background-image:
			linear-gradient(135deg,
				#3bb492 0%,
				#44ca8c 51%,
				#35cf94 100%);
		border-radius: 50%;
		cursor: pointer;

		@media (min-width: 992px) {
			width: 50px;
			height: 50px;
			margin-right: 15px;
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			display: inline-block;
			width: 12px;
			height: 15px;
			color: #ffffff;
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='12px' height='17px' viewBox='0 0 12 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='vsh_knowledge-base-audiobook-page-window' transform='translate%28-58.000000, -745.000000%29' stroke='%23FFFFFF' stroke-width='1.5'%3E%3Cg id='Group-23' transform='translate%280.000000, 706.000000%29'%3E%3Cg id='Group-7' transform='translate%2840.000000, 23.000000%29'%3E%3Cg id='Group-42'%3E%3Cg id='Group-32'%3E%3Cg id='Group-15' transform='translate%2818.000000, 17.000000%29'%3E%3Cpath d='M1,0 L1,15' id='Path-7'%3E%3C/path%3E%3Cpath d='M11,0 L11,15' id='Path-7-Copy'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			background-size: cover;
			transform: translate(-50%, -50%);
			content: "";
		}

		&.paused::after {
			width: 13px;
			margin-left: 1px;
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='17px' viewBox='0 0 15 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg transform='translate%28-363.000000, -5948.000000%29' stroke='%23FFFFFF' stroke-width='1.5'%3E%3Cg transform='translate%28341.000000, 5594.000000%29'%3E%3Cg%3E%3Cg transform='translate%283.000000, 332.000000%29'%3E%3Cg transform='translate%280.000000, 6.000000%29'%3E%3Cpolygon points='20 32 20 17 33 24.5'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		}
	}

	&__nav-bar-wrapper {
		position: relative;
		display: flex;

		// этот хак для того чтобы обрезалось название песни в стилях audio-player__info-track-name
		// 50px - это размер кнопки play
		flex: 1;
		flex-direction: column;
		width: calc(100% - 50px);
	}

	&__close {
		position: absolute;
		top: -25px;
		right: 0;
		width: 18px;
		height: 18px;
		background-image: url("data:image/svg+xml,%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-1223.000000, -744.000000)' stroke='%23000000' stroke-width='1.5'%3E%3Cg transform='translate(0.000000, 706.000000)'%3E%3Cg transform='translate(1224.000000, 39.000000)'%3E%3Cpath id='Path-11' d='M0,0 L16,16' /%3E%3Cpath d='M16,0 C16,0 10.6666667,5.33333333 0,16' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		background-size: cover;
		cursor: pointer;

		@media (min-width: 992px) {
			top: auto;
			bottom: -30px;
		}
	}

	&__nav-bar-line {
	
			//обертка  полоска прогресса с треком
			//обертка  полоска прогресса с трекомосновные стили инпута вынесены ниже
			background-color: red;
		}


	&__tracks {
		display: flex;
		align-items: center;
		justify-content: center;
		// трек лист появляется если в плейлисте больше 1  трека
		width: 100%;

		@media (min-width: 992px) {
			justify-content: space-between;
			width: auto;
			max-width: 260px;
			margin-left: 30px;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #000000;
		opacity: 0.5;

		&-track-name {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&-status {
			width: 110px;
			padding-left: 10px;
			text-align: right;
		}

		&-status.loading {
			position: relative;
		}

		&-status.loading::before {
			position: absolute;
			right: 0;
			bottom: 0;
			white-space: pre;
			animation: loading-dots 3s infinite;
			content: "....";

			/*  пробелs работают со свойством   white-space */
		}

		&-status.loading::after {
			color: rgba(255, 255, 255, 0);
			content: "....";

			/* анимация основана на пробелах со свойством   white-space */
		}

		&-status.error {
			color: #ff0000;
		}
	}

	&__nav-speed {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		margin: 0 auto;

		@media (min-width: 992px) {
			max-width: 350px;
			justify-content: space-around;
		}

		&-wrapper {
			width: 100%;
			margin-top: 10px;
		}

		&-current {
			position: relative;
		}

		&-current>span {
			// чтобы верстка не скакала при переключении скорости воспроизведения
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}


	&__nav-speed,
	&__tracks {
		color: #000000;
		font-variant: small-caps;
		letter-spacing: 1px;
	}

	&__nav-button-prev,
	&__nav-button-next {
		// кнопки со стрелками лево , право
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&::before {
			width: 100%;
			height: 100%;
			font-weight: 400;
			font-size: 8px;
			font-family: icomoon, sans-serif !important; // stylelint-disable-line declaration-no-important
			font-style: normal;
			font-variant: normal;
			text-transform: none;
			content: '>';
			-webkit-font-smoothing: antialiased;
		}
	}

	&__nav-button-prev.disabled,
	&__nav-button-next.disabled {
		cursor: not-allowed;
		opacity: 0.3;
	}

	&__nav-button-prev {
		margin-right: 15px;

		@media (min-width: 992px) {
			margin-right: 20px;
		}

		&::before {
			transform: rotate(90deg);
		}
	}

	&__nav-button-next {
		margin-left: 15px;

		@media (min-width: 992px) {
			margin-left: 20px;
		}

		&::before {
			transform: rotate(-90deg);
		}
	}

	&__nav-speed-rewind-back,
	&__nav-speed-rewind-forward {
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-size: cover;
		transform: translateY(-25%);
		cursor: pointer;

		@media (min-width: 992px) {
			transform: translateY(0);
		}
	}

	&__nav-speed-rewind-back {
		background-image: url("data:image/svg+xml, %3Csvg width='20' height='20' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0L2 3L7 6V3.6L11 6V3.81013C14.6087 4.50994 17.3333 7.68678 17.3333 11.5C17.3333 15.8262 13.8262 19.3333 9.5 19.3333C5.17377 19.3333 1.66667 15.8262 1.66667 11.5H0C0 16.7467 4.25329 21 9.5 21C14.7467 21 19 16.7467 19 11.5C19 6.7637 15.534 2.83693 11 2.11775V0L7 2.4V0Z' fill='%23101111' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65579 15V9.4262H5.57567L4 10.6098V9.24671L5.66024 8H7V15H5.65579ZM11.4656 15C10.0239 15 9.04132 14.1061 9 12.8858H10.281C10.359 13.4534 10.8457 13.8318 11.4747 13.8318C12.1864 13.8318 12.6777 13.3399 12.6777 12.5973C12.6777 11.8453 12.1818 11.3439 11.4793 11.3439C10.9651 11.3439 10.5748 11.5757 10.3453 11.9588H9.1056L9.43618 8H13.6006V9.18716H10.5106L10.3636 10.9419H10.4463C10.7264 10.5257 11.1947 10.275 11.8512 10.275C13.1093 10.275 14 11.2257 14 12.5642C14 14.0115 12.9853 15 11.4656 15Z' fill='%23101111' /%3E%3C/svg%3E");
	}

	&__nav-speed-rewind-forward {
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6667 0L16.6667 3L11.6667 6V3.6L7.66667 6V3.88238C4.22485 4.70772 1.66667 7.80511 1.66667 11.5C1.66667 15.8262 5.17377 19.3333 9.5 19.3333C13.8262 19.3333 17.3333 15.8262 17.3333 11.5H19C19 16.7467 14.7467 21 9.5 21C4.25329 21 0 16.7467 0 11.5C0 6.88046 3.29724 3.03102 7.66667 2.17675V0L11.6667 2.4V0Z' fill='%23101111' /%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.65579 15V9.4262H5.57567L4 10.6098V9.24671L5.66024 8H7V15H5.65579ZM11.4656 15C10.0239 15 9.04132 14.1061 9 12.8858H10.281C10.359 13.4534 10.8457 13.8318 11.4747 13.8318C12.1864 13.8318 12.6777 13.3399 12.6777 12.5973C12.6777 11.8453 12.1818 11.3439 11.4793 11.3439C10.9651 11.3439 10.5748 11.5757 10.3453 11.9588H9.1056L9.43618 8H13.6006V9.18716H10.5106L10.3636 10.9419H10.4463C10.7264 10.5257 11.1947 10.275 11.8512 10.275C13.1093 10.275 14 11.2257 14 12.5642C14 14.0115 12.9853 15 11.4656 15Z' fill='%23101111' /%3E%3C/svg%3E");
	}
}

.audio-player__nav-line{
		// полоска прогресса с треком
		$base:2px;

		margin: 16px 0;
		cursor: pointer;
		display: block;
		width: 100%;
		height: 2px;
		background-color: rgba(0, 0, 0, 0.1);
		position: relative;
		z-index: 0;

		&-progress,
		&-loaded,
		&-range-input {
			border-radius: 15px;
			display: block;
			position: absolute;
			left: 0;
		}

		&-progress,
		&-loaded {
			top: 0;
			height: 2px;
			width: 0;
		}

		&-loaded {
		z-index: 1;
			// полоска загрузки
		background-color: rgba(0, 0, 0, 0.2);

		}

		&-progress {
						z-index: 2;
			// полоска пройденнго прогресса
			background-color: #48b38a;
		}



		&-range-input {

			z-index: 3;
			height: 100%;
			top: 0;
			width: 100%;
			height: 14px;

			transform: translateY(-50%);
			top: 50%;
			cursor: pointer;
			background-color: rgba(0, 0, 0, 0);
			margin: 0;
			padding: 0;

			-webkit-appearance: none;
			appearance: none;

			&:focus {
				outline: none;
			}
		}

		&-range-input.loading {
			cursor: wait;
		}


			@mixin range-input-thumb() {
					// стили бегунка
					border-radius: 50%;
					background-color: rgb(61, 61, 61);
						height: 12px;
							width: 12px;
					border: 0;
					box-shadow: 0 ;
					transition: all .2s linear;
							@media (min-width: 568px) {
									height: 6px;
									width: 6px;
								}

			&:active {
					
					height: 12px;
					width: 12px;
				}
														&:hover {
							
															height: 12px;
															width: 12px;
														}

										@media (hover: none) {
												height: 12px;
													width: 12px;
										}
																															
				}
		
				@mixin range-input-track() {
					// стили дорожки - просто скрываем все
								width: 100%;

									animate: 0.2s;
									transition: all .2s easy;
										background-color: rgba(0, 0, 0, 0);

												
													border-color: rgba(0, 0, 0, 0);
													border-width: 0;

													color: rgba(0, 0, 0, 0);

																	border: none;
																	box-shadow: none;

				}

		        &-range-input::-webkit-slider-runnable-track {
					@include range-input-track();
		        }
		
		        &-range-input::-webkit-slider-thumb {
				@include range-input-thumb();
		        	-webkit-appearance: none;
		        }

		&-range-input::-moz-range-track {
						height: 100%;
@include range-input-track();
		}

		&-range-input::-moz-range-thumb {
			@include range-input-thumb();
			-webkit-appearance: none;
		}

		&-range-input::-ms-track {
						@include range-input-track();
		}

		&-range-input::-ms-fill-lower {
						height: 100%;
			@include range-input-track();
		}

		&-range-input::-ms-fill-upper {
						height: 100%;
			@include range-input-track();
		}

		&-range-input::-ms-thumb {
		@include range-input-thumb();
		}

	}	

