*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	position: relative;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.progress {
	display: block;
	/* overflow: hidden; */
	position: relative;
	width: 100%;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.1);

	margin: 10px 0;
	z-index: 0;
}

.progress_loaded-position,
.progress_current-position,
.progress_input {
	border-radius: 1em;
	display: block;
	position: absolute;
	height: 100%;
	left: 0;
}

.progress_loaded-position,
.progress_current-position {
	height: 2px;
}

.progress_loaded-position {
	width: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.progress_current-position {
	width: 0;

	background-color: #535BC3;
	z-index: 2;
}



.progress_input {
	top: 0;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 14px;
	transform: translateY(-50%);
	top: 50%;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	margin: 0;
	padding: 0;
	z-index: 3;
}

.progress_input:focus {
	outline: none;
}

.progress_input::-webkit-slider-runnable-track {
	width: 100%;
}

.progress_input::-webkit-slider-thumb {
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.9);
	height: 6px;
	width: 6px;
	transform: translateX(-50%);
	-webkit-appearance: none;
}

/* .progress_input:focus::-webkit-slider-runnable-track {
    background: #367ebd;
} */

.progress_input::-moz-range-track {
	width: 100%;
	height: 100%;
	cursor: pointer;
	animate: 0.2s;
	background-color: rgba(179, 25, 25, 0);
}

.progress_input::-moz-range-thumb {
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.9);
	height: 6px;
	width: 6px;
	box-shadow: none;
	border: none;
	-webkit-appearance: none;
}

.progress_input::-ms-track {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	border-color: transparent;
	border-width: 0;
	color: transparent;
}

.progress_input::-ms-fill-lower {
	background-color: rgba(0, 0, 0, 0);
	border: 0.2px solid #010101;
	border: none;
	box-shadow: none;
}

.progress_input::-ms-fill-upper {
	background-color: rgba(0, 0, 0, 0);
	border: 0.2px solid #010101;
	border: none;
	box-shadow: none;
}

.progress_input::-ms-thumb {
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.9);
	height: 6px;
	width: 6px;
	box-shadow: none;
	border: none;
}